body {
	background-color: white;
}
h1
{
	color: black;
	text-align:center; 
	}
h1{
	background-color: #BC8F8F;
	padding: 25px;
	margin: 50px;
}
h3{
	color: black;
	text-align:center;
}